<div class="nm-login-form col-sm-10 mx-auto">
  <h2 class="mb-4">Log in</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "mb-4" }) do |f| %>
    <div class="form-inputs mb-4">
      <%= f.input :email, required: false, autofocus: true %>
      <%= f.input :password, required: false %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in", class: 'btn-primary' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
