<div class="nm-photo-edit nm-section-box col-sm-10">
  <h1>Edit photo for <%= @place.name %></h1>
  <%= simple_form_for @photo, url: place_photo_path(@place, @photo) do |f| %>
      <%= image_tag(@photo.picture_url) if @photo.picture? %>
      <%= f.input :picture %>
      <%= f.hidden_field :picture_cache %>
      <%= f.input :caption %>
      <%= f.submit 'Update photo', class: 'btn btn-primary' %>
      <%= link_to 'Remove photo', place_photo_path(@place, @photo), method: :delete,
            data: {confirm: 'Are you sure you want to delete this?'},
            class: 'btn btn-danger' %>
  <% end %>
</div>
