<% slider_id = "nm_#{type}_slider_#{id}" %>

<div class="nm-photo-slider-outer nm-<%= type %>-slider">
  <%= icon('fas', 'sort', class: 'nm-slider-fullscreen-toggle') %>
  <div class="nm-photo-slider-inner" id="<%= slider_id %>">
    <%= render "#{type}_slider_items" %>
  </div>
</div>

<script>
  jQuery(function() { nm_initSlider('<%= slider_id %>') })
</script>
