<% @places.each do |place| %>
	<div class="nm-place-item nm-section-box col-sm-10 mx-auto">
		<h1 class="h1">
			<%= place.name %>
		</h1>
		<p class="font-italic">
			<%= place.address %>
		</p>
		<p>
			<%= place.description %>
		</p>

		<% if place.user.present? %>
			<small><%= place.user.email %></small>
		<% end %>
	</div>
<% end %>

<div class="d-flex justify-content-center">
	<% window_addition = (@places.first_page? || @places.last_page?) ? 1 : 0 %>
	<%= paginate @places, window: 0, outer_window: 1 + window_addition %>
</div>
