<% content_for :body_before_main_content do %>
	<%= render 'photo_slider', type: 'index', id: 'places' %>
<% end %>

<% @places.each do |place| %>
	<div class="nm-index-place nm-section-box row">

		<div class="nm-index-photo-featured col-md-5">
			<% if place.photos.present? %>
				<%= link_to place_path(place) do %>
					<%= image_tag place.photos.first.picture, class: 'nm-index-photo-img' %>
				<% end %>
			<% end %>
		</div>

		<div class="nm-index-place-text col-md-7">
			<h1>
				<%= link_to place.name, place_path(place) %>
			</h1>
			<p class="font-italic">
				<%= place.address %>
			</p>
			<p>
				<%= place.description %>
			</p>

			<% if place.comments.present? %>
				<%= render 'comment_item', comment: place.comments.last %>
			<% end %>
		</div>

	</div>
<% end %>

<div class="d-flex justify-content-center">
	<%= paginate @places, window: 0, outer_window: @pagination_window %>
</div>
