<div class="nm-place-item col-sm-10 mx-auto">
  <h1 class="h1 mb-4">Enter Your Place Details</h1>
  <%= simple_form_for @place, wrapper: :horizontal_form do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.submit 'Create', class: 'btn btn-primary mt-4' %>
  <% end %>
</div>
