<div class="nm-place-item col-sm-10">
  <h1>
    <%= @place.name %>
  </h1>
  <p class="font-italic">
    <%= @place.address %>
  </p>
  <p>
    <%= @place.description %>
  </p>

  <%= render 'map' if @place.latitude.present? && @place.longitude.present? %>

  <%= render 'footer' %>

</div>

<%= simple_form_for @comment, url: place_comments_path(@place) do |f| %>
  <%= f.input :message %>
  <%= f.input :rating %>
  <%= f.submit 'Add a comment', class: 'btn btn-primary mt-3' %>
<% end %>

<div class="nm-comments">

  <h2>Comments</h2>

  <% @place.comments.each do |comment| %>
    <div class="nm-comment-item">
      <blockquote>
        <p>
          <strong><%= comment.rating %></strong> &ndash;
          <%= comment.message %>
        </p>
        <p>&mdash; <small><%= comment.user.email %></small></p>
      </blockquote>
    </div>
  <% end %>

</div>
