<div class="nm-place-item col-sm-10">
  <h1>
    <%= @place.name %>
  </h1>
  <p class="font-italic">
    <%= @place.address %>
  </p>
  <p>
    <%= @place.description %>
  </p>

  <%= render 'map' if @place.latitude.present? && @place.longitude.present? %>

  <%= render 'footer' %>

</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#nm-new-comment-modal">
  Add a comment
</button>

<!-- Modal -->
<div class="modal fade" id="nm-new-comment-modal" tabindex="-1" role="dialog" aria-labelledby="nm-new-comment-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="nm-new-comment-modal-label">Add a comment</h4>
      </div>
      <%= simple_form_for @comment, url: place_comments_path(@place) do |f| %>
        <div class="modal-body">
          <%= f.input :message %>
          <%= f.input :rating, as: :select, collection: Comment::RATINGS %>
        </div>
        <div class="modal-footer">
          <%= f.submit 'Add a comment', class: 'btn btn-primary' %>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="nm-comments">

  <h2>Comments</h2>

  <% @place.comments.each do |comment| %>
    <div class="nm-comment-item">
      <blockquote>
        <p>
          <% if comment.humanized_rating.present? %>
            <strong><%= comment.humanized_rating %></strong> &ndash;
          <% end %>
          <%= comment.message %>
        </p>
        <p>&mdash; <small><%= comment.user.email %></small></p>
      </blockquote>
    </div>
  <% end %>

</div>
