<div class="nm-place-item col-sm-10">
  <h1>
    <%= @place.name %>
  </h1>
  <p class="font-italic">
    <%= @place.address %>
  </p>

  <div class="nm-photo-slider">
    <% @place.photos.each do |photo| %>
      <%= render 'photo_item', place: @place, photo: photo %>
    <% end %>
  </div>

  <p>
    <%= @place.description %>
  </p>

  <%= render 'map' if @place.latitude.present? && @place.longitude.present? %>

  <%= render 'footer' %>

</div>

<%= render 'comments' %>
