<div class="nm-section-box nm-width-md">
  <h1>
    <%= @place.name %>
  </h1>
  <p class="font-italic">
    <%= @place.address %>
  </p>

  <%= render 'photos/slider', type: 'place', id: @place[:id] if @place.photos.present? %>

  <p>
    <%= @place.description %>
  </p>

  <%= render 'map' if @place.latitude.present? && @place.longitude.present? %>

  <%= render 'footer' if @place.user.present? %>

</div>

<%= render 'comments' %>
