<div class="nm-place-item col-sm-10">
  <h1>
    <%= @place.name %>
  </h1>
  <p class="font-italic">
    <%= @place.address %>
  </p>

  <%= render 'photo_slider' if @place.photos.present? %>

  <p>
    <%= @place.description %>
  </p>

  <%= render 'map' if @place.latitude.present? && @place.longitude.present? %>

  <%= render 'footer' %>

</div>

<%= render 'comments' %>
